.overlay-bloqueio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4999;
  cursor: not-allowed;
}

.mensagem-salvo {
  position: fixed;    /* posição absoluta */
  top: 20px;             /* distância do topo */
  left: 50%;
  transform: translateX(-50%); /* centraliza horizontalmente */
  background-color: #269447;
  color: white;
  margin: 20px 0;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  animation: fadeOut 3s forwards;
  align-self: center;
  z-index: 5000;
}

/* animação opcional para sumir */
@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}
